.dropdown {
  position: relative; /* для абсолютных детей */
  display: flex;
  align-items: center;
  background-color: aquamarine;
  min-width: 100px;
  height: 100%;
}

/* иконка у всех в виде картинки */
/* .down::after {
    content: ' ▼';
} */

.dropdown-icon {
  margin-left: 18px; /* Отступ иконки от текста */
  fill: black; /* Цвет иконки */
  vertical-align: middle;
}