.dropdown-menu {
    display: none;
    background: rgb(93, 204, 255);
    color: rgb(49, 26, 255);
    border: 5px solid violet;
    /* position: absolute; */
    /* box-sizing: border-box; */
    /* top: 100%; */
    /* left: -20px; */
}

.open {
    background: lightseagreen;
    display: flex;
    flex-direction: column;
}