/* стили меню-контейнера */
/* list-style-type: none; */

.menu {
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
    border: 5px solid #ef7f7f;
    
    display: flex;
  }
  
  /* Если совместить 
  * div 
  * 100% ширины
  * поля внешние
  то блок краем уходит за край экрана
   */
   
  /* width: 100%; */